[submodule "dependencies/JsonBox"]
	path = dependencies/JsonBox
	url = https://github.com/anhero/JsonBox.git
    fetchRecurseSubmodules = false
    ignore = dirty
    branch = none
    update = none
[submodule "dependencies/mongoAPI"]
	path = dependencies/mongoAPI
	url = https://github.com/Aqueti/mongoAPI.git
